<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Clientes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/listar}">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h3 th:text="${titulo}"></h3>
        <hr>
        <!-- Lista de errores -->
        <div th:object="${cliente}">
            <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <li th:each=" error : ${#fields.errors('*')}" th:text="${error}"></li>
            </ul>
        </div>
        <!-- Formulario para crear cliente -->
        <!-- enctype="multipart/form-data" Es para poder enviar datos complejos como fotos -->
        <form th:action="@{/form}" th:object="${cliente}" method="post" enctype="multipart/form-data">
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
                    <!-- Si hay un error con el campo, entonces lo muestra -->
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                        th:errors="*{nombre}"></small>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" th:field="*{apellido}">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"
                        th:errors="*{apellido}"></small>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" aria-describedby="emailHelp" th:field="*{email}">
                    <div id="emailHelp" class="form-text">No compartiremos tu correo con nadie mas.</div>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                        th:errors="*{email}"></small>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="creadoEn" class="form-label">Fecha</label>
                    <input type="text" class="form-control" id="creadoEn" th:field="*{creadoEn}"
                        placeholder="YYYY-MM-DD">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('creadoEn')}"
                        th:errors="*{creadoEn}"></small>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="file" class="form-label">Foto</label>
                <div class="col-6">
                    <input type="file" name="file" class="form-control">
                </div>
            </div>
            <!-- Se almacena el id del cliente si es que tiene un valor pero no se muestra en el formulario -->
            <!-- <input type="hidden" th:field="*{id}"> -->
            <button type="submit" class="btn btn-primary">Crear/Editar cliente</button>
        </form>
    </div>
</body>

</html>