<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>

    <h1 th:text="${titulo}"></h1>
    <hr>
    <h3 th:text="${usuario.nombre}"></h3>
    <h3 th:text="${usuario.apellido}"></h3>
    <!--Revisa si el email es null para asignar un valor a la etiqueta-->
    <h3 th:if="${usuario.email == null}" th:text="'No cuenta con correo'"></h3>
    <!--Si existe un email entonces se pone el valor del email a la etiqueta  -->
    <h3 th:if="${usuario.email}" th:text="${usuario.email}"></h3>
</body>
</html>